@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ropa+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}


/* ----------------------HOME ---------------------- */
.fundo_headerHome{
    background-image: url("../img/fundo_Home.png");
    height: 1020px;
    background-repeat: round
}

.Home{
    display: flex;
    justify-content: center;
    padding-top: 2vw;
}

.nav_headerHome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 645px;
    margin-left: 158px;
    margin-right: 26px;
}

.nav_headerHome a{
    font-size:21px;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
}

.login{
    color: #0388A6;
    background-color: #FFFFFF;
    border-radius: 22px;
    width: 77px;
    height: 34px;
    padding-inline: 14px;
    font-weight: bold;
    text-decoration: none;
}

.escrita_banner{
    display: grid;
    justify-content: center;
    margin-top: 22vw;
}

.escrita_banner h1{
    font-family: 'Titillium Web', sans-serif;
    font-size: 93px;
    color: #FFFFFF;
    border-bottom: 4px solid;
    width: 87%;
    padding-inline: 3vw;
    margin-left: 6vw;
    padding-bottom: 22px;
}

.escrita_banner p{
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 27px;
    padding-top: 55px;
}

.secao_especialidade{
    display: grid;
    justify-content: center;
}

.especialidade h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 47px;
    color: #FFFFFF;
    background-color: #8C9EAC;
    border-radius: 22px;
    width: 412px;
    height: 78px;
    font-weight: bold;
    padding-inline: 55px;
    margin-left: 11vw;
}

.box_especialidade{
    border: 2px solid;
    width: 82vw;
    justify-content: center;
    display: grid;
}

.tabela_Especialidade{
    padding-bottom: 22px;
    padding-top: 34px;
}

.tabela_Especialidade td{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #C4C4C4;
    border-radius: 36px;
    color: #000000;
    width: 228px;
    height: 37px;
    font-size: 20px;
    text-align-last: center;
}

.container_MaisSobre img{
    /* background-image: url("../spmedicalgroup-base/assets/fundo_MaisSobre.png"); */
    height: 813px;
    width: 100%;
}

.box_MaisSobre{
    background-color:  #8C9EAC;;
    display: grid;
    justify-content: center;
    width: 780px;
    height: 437px;
}

.box_MaisSobre h3{
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: white;
}

.box_MaisSobre p{
    letter-spacing: 0.16em;
    text-transform: lowercase;
    font-family: 'Titillium Web';
    font-size: 31px;
    color: white;
}

.endereço{
    background-image: url("../img/imagem-fundo-endereco.png");
    height: 516px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

h4{
    color: black;
    font-family: 'Bebas Neue', 'cursive';
    font-size: 64px;
    font-weight: 400;
    text-transform: uppercase;
    width: 895px;
    margin-bottom: 10px;
}

.box_endereço{
    display: flex;
    width: 899px;
    height: 200px;
    background: linear-gradient(0deg, rgba(3, 136, 166, 0.2), rgba(3, 136, 166, 0.2)), rgba(4, 173, 191, 0.62);
    align-items: center;
    border: 4px solid #0388A6;
}

.box_endereço p{
    font-family:'Ropa Sans', sans-serif;
    font-size: 24px;
    color: black;
    width: 298px;
    margin-left: 67px;
}

.img_mapa{
    position: absolute;
    top: 125px;
    right: 277px;
}


/* -------------------- LOGIN ---------------------- */
.container{
    background-image: url("../img/fundoLogin.png");
    height: 1081px;
    background-position: right;
    background-repeat: round
}

.logo{
    margin-top: 2%;
    margin-inline: 27%;
    height:  288px;
    position: absolute;
}

.box_login{
    background: rgba(255, 255, 255, 0.75);
    width: 600px;
    height: 496px;
    border-radius: 22px;
    display: inline-grid;
    margin-inline-start: 30vw;
    padding-inline: 21px;
    padding-top: 77px;
    margin-top: 26%;
}

.linha_escrita_login{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 28px;
    width: 120px;
    color:#5E5555
}

.input__login{
    border: 0;
  width: 553px;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
  background: transparent;
  font-size: 23px;
}

.boton_Login{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left:  95px;
}

.btn__login{
    width: 364px;
    height: 46.46px;
    border-radius: 22px;
    border:none;
    font-size: 24px;
    color: #FFFFFF; 
    font-weight: bold;
    background: #04ADBF;
    cursor: pointer;
}

.local_esqueceuSenha{
    display: inline-grid;
    padding-inline: 144px;
    margin-bottom: 35px;
}

.hr_pequeno{
    width: 269px;
    height: 0px;
    border: 1px solid #111010;
}

.esqueceuSenha{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 236px;
    height: 30px;
    font-size: 23px;
    color: #2686CC;
    margin-inline: 40px;
    text-decoration: none;
}

.box_login2{
    background: rgba(255, 255, 255, 0.75);
    border-radius: 22px;
    width: 600px;
    height: 94px;
    display: inline-grid;
    margin-inline-start: 30vw;
    margin-top: 24px;
}

.link{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 369px;
    font-size: 23px;
    color: #5E5555;
    margin-inline: 129px;
    padding-top: 32px;
}

.link_cadastro{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    color: #2686CC;
    text-decoration: none;
}




/* -------------------- CADASTRO ---------------------- */
.fundo_cadastro{
    background-image: url("../img/fundoCadastro.png");
    height: 1137px;
    background-position: right;
    background-repeat: round
}

.box_cadastro{
    background: rgba(255, 255, 255, 0.75);
    width: 600px;
    height: 496px;
    border-radius: 22px;
    display: inline-grid;
    margin-inline-start: 31vw;
    padding-inline: 21px;
    padding-top: 54px;
    margin-top: 28%;
}

.linha_escrita_cadastro{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 28px;
    color:#5E5555;
}

.input__cadastro{
    border: 0;
  width: 553px;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
  background: transparent;
  font-size: 23px;
}

.tipoUsuario_Cadastro{
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    color:#5E5555;
}

select {
    /* width:546px; */
    height: 51px;
    /* padding: 7px; */
    /* border: none; */
    /* background-color: transparent; */
    /* border-bottom: 1px solid #e6e6e6; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 28px;
    color:#5E5555;
    border: 0;
  width: 553px;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
  background: transparent;
  font-size: 23px;
  }

.boton_Cadastro{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 97px;
    /* margin-top: 47px; */
}

.btn__cadastro{
    width: 364px;
    height: 46.46px;
    border-radius: 22px;
    border:none;
    font-size: 23px;
    color: #FFFFFF; 
    font-weight: bold;
    background: #04ADBF;
    cursor: pointer;
}

.box_cadastro2{
    background: rgba(255, 255, 255, 0.75);
    border-radius: 22px;
    width: 600px;
    height: 94px;
    display: inline-grid;
    margin-inline-start: 31vw;
    margin-top: 24px;
}

.link_paraLogin{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 369px;
    font-size: 23px;
    color: #5E5555;
    margin-inline: 153px;
    padding-top: 32px;
}

.link_login{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    color: #2686CC;
    text-decoration: none;
}




/* ----------------------- ADMINISTRADOR --------------------- */


/* ------- HEADER ----------- */
.box_header{
    background-color:#FFFFFF;
    height: 111px;
    position: fixed;
    top: 0;
    width: 100%;
}

.container_header{
    display: flex;
    justify-content: center;
    margin-top:  5px
}

.logo_header{
    width: 228px;
    cursor: pointer;
}

.nav_header{
    margin-left: 158px;
    margin-right: 26px;
    padding-left: 33vw;
    margin-top: 2vw;
    display: flex;
 }

 .nav_header span{
     color: #000000;
     font-size:21px;
     font-family: 'Titillium Web', sans-serif;
     display: flex;
}

.nav_redirecionamento{
    /* width: 44px; */
    cursor: pointer;
    height: 59px;
    padding-bottom: 23px;
    margin-left: 36px;
}


/* ------- HEADER ----------- */



main{
    margin-top: 112px;
}

.area_fundo{
    height: 1414px;
    background: linear-gradient(0deg, rgba(4, 173, 191, 0.3), rgba(4, 173, 191, 0.3)), rgba(140, 158, 172, 0.45);
    padding-top: 130px;
    display: grid;
    justify-content: center;
}

.cadasConsulta{
    width: 774px;
    height: 521px;
    background: rgba(255, 255, 255, 0.99);
    border-radius: 22px;
    margin-inline-start: 11vw;
}

.conteudo_cadasConsulta{
    padding-inline-start: 29px
}

.conteudo_cadasConsulta h2{
    color: #000000;
    font-size: 32px;
    font-family: 'Titillium Web', sans-serif;
    padding-inline: 15vw;
    padding-top: 35px;
}

.box_cadasConsulta{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    align-content: space-between;
    height: 28vw;
}

.linha_escrita_consulta{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    margin-left: 28px;
}

.input__consulta{
    color: #000000;
    font-size: 21px;
    background: #C4C4C4;
    border-radius: 22px;
    border:none;
    width: 316px;
    height: 47.92px;
    padding-inline: 26px;
}

.boton_Consulta{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left:  12vw;
    margin-bottom: 42px;
}

.btn__consulta{
    width: 364px;
    height: 53.01px;
    border-radius: 22px;
    border:none;
    font-size: 23px;
    color: #FFFFFF; 
    font-weight: bold;
    background: #04ADBF;
    cursor: pointer;
}

.cont_listarConsulta{
    background: rgba(255, 255, 255, 0.99);
    border-radius: 22px;
    width: 1098px;
    height: 454px;
}

.cont_listarConsulta h2{
    color: #000000;
    font-size: 32px;
    font-family: 'Titillium Web', sans-serif;
    padding-inline: 28vw;
    padding-top: 35px;
}

.conteudo_listaConsulta{
    display: grid;
    justify-content: center;
}

.tabela_lista{
    padding-bottom: 40px;
    padding-top: 28px;
}

.tabela_lista img{
    width: 31px;
}

td{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #C4C4C4;
    border-radius: 36px;
    color: #000000;
    width: 188px;
    height: 34px;
    font-size: 20px;
    text-align-last: center;
}


/* ------- FOOTER ----------- */

.rodapePrincipal{
    background-image: url("../img/Frame.png");
    height:  96px;
}

.escrita_footer{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 27px;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 43px;

}
/* p{
} */

/* ------- FOOTER ----------- */



/* --------------------- MEDICO -------------------------- */
.area_fundoMedico{
    height: 969px;
    background: linear-gradient(0deg, rgba(4, 173, 191, 0.3), rgba(4, 173, 191, 0.3)), rgba(140, 158, 172, 0.45);
    padding-top: 130px;
    display: grid;
    justify-content: center;
}

.cont_listaMedico{
    background: rgba(255, 255, 255, 0.99);
    border-radius: 22px;
    width: 1067px;
    height: 727px;
}

.cont_listaMedico h2{
    color: #000000;
    font-size: 32px;
    font-family: 'Titillium Web', sans-serif;
    padding-inline: 27vw;
    padding-top: 35px;
}

.boton_alterarSitu{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 22vw;
    padding-top: 45px;
}

.btn__alterarSitu{
    width: 386px;
    height: 79px;
    border-radius: 22px;
    border:none;
    font-size: 23px;
    color: #FFFFFF; 
    font-weight: bold;
    background: #04ADBF;
    cursor: pointer;
}


/* ------------------------- PACIENTE -------------- */
.fundo_paciente{
    background-image: url("../img/fundoPaciente.png");
    height: 780px;
    width: 100%;
    padding-top: 130px;
    display: grid;
    justify-content: center;
}

.cont_listaPaciente{
    background: rgba(255, 255, 255, 0.99);
    border-radius: 22px;
    width: 1069px;
    height: 443px;
}

.cont_listaPaciente h2{
    color: #000000;
    font-size: 32px;
    font-family: 'Titillium Web', sans-serif;
    padding-inline: 28vw;
    padding-top: 35px;
}